<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- <meta name="description" content="ground-gulp sample page">
<meta name="viewport" content="width=device-width, initial-scale=1"> -->
<title>ROCKETDAN ERP</title>
<link rel="stylesheet" type="text/css" href="/lib/semantic/css/semantic.min.css">
<link rel="stylesheet" href="/css/sample-style.css">
<style type="text/css">
body>.grid {
	height: 100%;
}

.image {
	margin-top: -100px;
}

.column {
	max-width: 450px;
}
</style>
<script src="/js/jquery-2.2.3.min.js"></script>
<script>
	$(document).ready(function() {
		$('#loginForm input').keyup(function(event) {
			if (event.keyCode == 13) {
				$('#loginForm').submit();
			}
		});
		$('#loginSubmit').click(function() {
			$('#loginForm').submit();
		})
	})
</script>
</head>
<body>
	<div class="wrapper">
		<div class="contentWrap">
			<div class="ui middle aligned center aligned grid">
				<div class="column">
					<form id="loginForm" class="ui large form" action="./login.page" method="post">
						<div class="ui stacked segment">
							<div class="field">
								<div class="ui left icon input">
									<i class="user icon"></i>
									<input type="text" name="id" placeholder="ID">
								</div>
							</div>
							<div class="field ">
								<div class="ui left icon input">
									<i class="lock icon"></i>
									<input type="password" name="pw" placeholder="PASSWORD">
								</div>
							</div>

							<div id="loginSubmit" class="ui fluid large animated submit button" tabindex="0">
								<div class="visible content">Login</div>
								<div class="hidden content">
									<i class="unlock icon"></i>
								</div>
							</div>
						</div>

						<div class="ui error message">
							<ul class="list">
								<!-- <li>Please enter your id</li>
								<li>Please enter a valid id</li>
								<li>Please enter your password</li> -->
							</ul>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>